.App {
  text-align: center;
}

.App-header{
  margin-top: 3rem;
  color: #1746A2;
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50rem;
  margin: 0rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  padding: 1rem;
  justify-content: space-between;
  
}

.List-header {
  display: flex;
  align-items: center;
  flex : 1 1 0
}

.List-header h2 {
  color: rgb(37, 36, 36)
}

ul{
  padding : 0;
}

.List-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.List-age{
  flex : 1 1 0
}

.List-note {
  width: 30%;
  text-align: left;
  flex : 1 1 0
}

.AddToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto
}

.AddToList-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem
}

.AddToList-btn {
  padding: 0.8rem;
  margin: 0.3rem 0rem;
  cursor: pointer;
  background-color: #1746A2;
  font-weight: 500;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
}

.AddToList-btn:hover {
  background-color: #002E94;
}

